name: DEV backend CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "dev" ]

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/backend

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install linters
        run: pip install ruff

      - name: Run ruff
        run: ruff check .

  build:
    name: Build & push Docker image
    runs-on: ubuntu-latest
#    needs: lint

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

#      - name: Extract metadata
#        id: meta
#        uses: docker/metadata-action@v5
#        with:
#          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
#          tags: |
#            type=raw,value=dev
#            type=sha
#
#      - name: Build & push
#        uses: docker/build-push-action@v5
#        with:
#          context: .
#          file: Dockerfile
#          push: true
#          tags: ${{ steps.meta.outputs.tags }}
#          labels: ${{ steps.meta.outputs.labels }}

  notify-infra:
    name: Trigger infra deploy
    runs-on: ubuntu-latest
    needs: build
    environment: dev

    steps:
      - name: Debug token presence
        run: |
          if [ -z "${{ secrets.INFRA_REPO_TOKEN }}" ]; then
            echo "INFRA_REPO_TOKEN is EMPTY"
            exit 1
          else
            echo "INFRA_REPO_TOKEN is PRESENT"
          fi

      - name: Trigger infra workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.INFRA_REPO_TOKEN }}
          repository: justMyD/infra
          event-type: deploy-service
          client-payload: |
            {
              "environment": "dev",
              "service": "backend",
              "image": "ghcr.io/${{ github.repository_owner }}/backend:dev"
            }